.clothing-item-box {
    display: inline-block;

    position: relative;
}

.clothing-image {
    width: 200px;

}

.clothing-image:hover + .add-to-cart-button{
    visibility: visible;
    opacity: 1;
}

.on-sale-text {
    position: absolute;
    top: 0;
    right: 0;

    background-color: black;
    color: white;
    padding: 5px 7px 5px 7px;
    margin-top: 8px;

    font-family: Arial, serif;
    font-size: 10px;
}

.add-to-cart-button {
    position: absolute;
    bottom: 30px;
    left: 60px;
    right: 60px;

    font-size: 10px;

    border-width: 1.5px;

    padding-top: 4px;
    padding-bottom: 4px;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s, opacity 0.3s linear, background-color 0.3s;
}

.add-to-cart-button:hover {
    opacity: 1;
    visibility: visible;
    background-color: #dedede;
}