header {
    background-color: #f1f1f1;

    padding-top: 2em;
    padding-bottom: 3em;

    margin-bottom: 3em;
}

.navbar-brand {
    text-align: center;
}

.navbar-title {
    font-family: Lora, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;

    color: #143774;
}

.navbar-subtitle {
    font-family: Ubunto, sans-serif;
    font-size: .5rem;
    font-weight: 700;
    letter-spacing: 2px;

    color: #1792D2;

    margin-bottom: 3.5em;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;

    font-family: Ubunto, sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 2px;

    color: #707070;
}

.navbar-list-item {
    text-align: center;

    padding-bottom: .5em;
    margin-bottom: 2em;
}

.navbar-list-item:last-child {
    margin-bottom: 0;
}

.current-page {
    text-decoration: underline;

    text-underline-offset: 6px;
}