.heading-article, .article {
    margin-bottom: 2em;
}

.heading-article {
    border-bottom: 1px solid gray;

    padding-bottom: 1.5em;
}

.heading-article-img, .article-img {
    object-fit: cover;
}

.heading-article-img {
    max-height: 340px;

    object-position: bottom;

    margin-bottom: 2em;
}

.heading-article-stats, .article-stats, .heading-article-text, .article-text {
    font-family: Ubunto, sans-serif;
    font-weight: 100;

    color: #858585;
}

.heading-article-stats, .article-stats{
    font-size: .75rem;

    margin-bottom: 1em;
}

.heading-article-title, .article-title {
    font-family: Lora, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;

    color: #143774;

    margin-bottom: .5em;
}

.heading-article-text {
    margin-bottom: 2em;
}

.heading-article-span-starting-text {
    font-weight: 700;

    color: #6e6e6e;
}

.heading-article-span-text-link {
    text-decoration: underline;

    color: #1792D2;
}

.heading-article-span-text-link:hover {
    color: #143774;

    cursor: pointer;
}

.heading-article-read-more {
    font-family: Ubunto, sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 2px;

    color: #1792D2;
}

.article-img {
    margin-bottom: 1em;
}

@media (min-width: 650px) {
    .container {
        display: flex;
        justify-content: space-between;
    }

    .left-section {
        width: 65%;
    }

    .right-section {
        display: flex;
        justify-content: end;
        width: 30%;
    }
}

@media (min-width: 950px) {
    .article {
        display: flex;
        justify-content: space-between;
    }

    .article-img {
        height: 200px;
    }

    .article-title {
        margin-bottom: 1em;
    }

    .article-head {
        width: 25%;
    }

    .article-body {
        display: flex;
        flex-direction: column;
        width: 72%;
    }
}
