body {
    font-family: Arial, serif;
}

.heading-text {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
}

input {
    display: block;

    margin-bottom: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    width: 280px;

    background-color: #efefef;
    border: none;
    outline: none;
}

.request-button, .schedule-button {
    margin-top: 20px;
    padding: 12px 16px 12px 16px;
    border: none;
}

.request-button {
    background-color: black;
    color: white;
    margin-right: 10px;
}