.footer, .footer-icons {
    display: flex;
}

.footer {
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    padding: 18px
}

.footer-icons div {
    margin-left: 20px;
}

