.nav-bar, .nav-links a {
    color: #ff7300;
}

.nav-bar {
    display: flex;
    align-items: center;

    padding: 10px;

    font-size: 20px;
    font-weight: 500;
}

.nav-title {
    margin-left: 10px;
}

.nav-icon {
    font-size: 26px;
}

.nav-links {
    display: flex;
    justify-content: end;
    column-gap: 14px;

    width: 100%;

}



