.navbar {
    color: rgb(214, 116, 114);
}

.navbar-list {
    padding: 0;

    list-style: none;

    text-align: center;
}

.navbar-list-item {
    display: inline-block;

    margin: 0 1.5em;
    padding: 1em 0;

    font-size: 1.2rem;
    font-weight: 500;
}