.navbar {
    display: flex;
    justify-content: center;

    background-color: #f3f3f3;
    color: rgb(1, 189, 190);

    max-width: 1600px;
    margin: auto;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: 2px solid white;

    padding: 30px 70px;
    justify-content: center;
}

.navbar ul li:nth-child(4) {
    border-right: 2px solid white;
}

.navbar ul li i {
    font-size: 30px;
    margin-bottom: 4px;
}
