.nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 2em;

    margin: 0;
    padding: 1.2em 0.2em;

    height: 100%;

    list-style: none;

    position: fixed;
    top: 3.55em;

    background-color: white;
}

.nav-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .45em;

}

div {
    font-size: .6rem;
}

img {
    width: 24px;
}