.nav-list {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: .2em 0;

    width: 4.5em;

    list-style: none;

    position: fixed;
    top: 3.5em;
    bottom: 0;

    background-color: white;
}

.nav-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em 0;
}

.nav-list-item:hover {
    cursor: pointer;

    background-color: #eaeaea;
}

.nav-list-item img {
    width: 24px;

    margin-bottom: .4em;
}

div {
    font-size: .625rem;
}