.nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.92em;

    margin: 0;
    padding: 1.2em 0.1em;


    list-style: none;

    position: fixed;
    top: 3.5em;
    bottom: 0;

    background-color: white;
}

.nav-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .4em;
}

img {
    width: 24px;
}

div {
    font-size: 10px;
}