body {
    margin: 0;

    font-family: Roboto, Arial, sans-serif;
}

main {
    background-color: rgb(0, 0, 0, 0.05);
    padding-top: 5em;
    padding-left: 6em;
    padding-right: 1.5em;
}

p {
    margin: 0;
}

/* Videos */

.videos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 4em;
    column-gap: 1em;
}

.video-card {
}

.video-thumbnail {
    width: 100%;
    max-width: 440px;

    display: block;
}

.video-info {
    display: grid;
    grid-template-columns: 2.6em 1fr;
    column-gap: .4em;
    align-items: start;

    margin-top: .8em;
}

.video-profile-image {
    width: 36px;
    border-radius: 18px;
}

.video-title {
    font-weight: 500;
    font-size: 0.88rem;

    margin-bottom: 0.7em;
}

.video-secondary-text {
    font-size: 0.75rem;

    line-height: 1.5em;
}