body {
    margin: 0;

    font-family: Roboto, Arial, sans-serif;
}

main {
    background-color: rgb(0, 0, 0, 0.05);
    padding-top: 5em;
    padding-left: 6em;
    padding-right: 1.5em;
}

p {
    margin: 0;
}
