.videos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3.8em;
    column-gap: 1em;
}

.video-thumbnail {
    display: block;

    width: 100%;
}

.video-details {
    display: grid;
    grid-template-columns: 4.75em 1fr;

    margin-top: 1.1em;
}

.video-profile-image {
    width: 36px;

    border-radius: 18px;
}

.video-title {
    margin-bottom: 0.655em;

    font-weight: 500;
    font-size: 0.88rem;
}

.video-author, .video-stats {
    font-size: 0.75rem;
    line-height: 1.5em;

    color: #646464;
}