header {
    background-color: #f1f1f1;

    padding: 2em 0;

    margin-bottom: 3em;
}

.navbar-brand {
    text-align: center;
}

.navbar-title {
    font-family: Lora, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;

    color: #143774;
}

.navbar-subtitle {
    font-family: Ubunto, sans-serif;
    font-size: .55rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 15px;

    color: #1792D2;

    margin-bottom: 3em;
}

.navbar-list {
    font-family: Ubunto, sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 2px;

    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #707070;
}

.navbar-list-item {
    position: relative;

    text-align: center;

    margin-bottom: 2em;
}

.navbar-link {
    text-decoration: none;
}

.navbar-link:visited {
    color: inherit;
}

.navbar-list-item:last-child {
    margin-bottom: 0;
}

.active-page {
    position: absolute;
    left: 1px;
    right: 2px;

    margin: 5px 0;
}

@media (min-width: 650px) {
    header  {
        padding: 5em 0;
    }

    nav {
        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    .navbar-list {
        flex-direction: row;
    }

    .navbar-list-item {
        margin: 0 1em;
    }

    .navbar-list-item:last-child {
        margin-right: 0;
    }

    .navbar-title {
        font-size: 1.7rem;
    }

    .navbar-subtitle {
        font-size: .6rem;
        margin-bottom: 0;
    }
}

@media (min-width: 1090px) {
    .navbar-list-item {
        margin: 0 2em;
    }
}