.heading-article,
.article {
    margin-bottom: 2em;
}

.left-section .article:last-child {
    margin-bottom: 4em;
}

.heading-article {
    border-bottom: 1px solid #ababab;
    box-shadow: 0 3px 2px -2px rgba(0, 0 ,0, 0.15);

    padding-bottom: 1.5em;
}

.heading-article-img,
.article-img {
    object-fit: cover;

    margin-bottom: 1.5em;
}

.heading-article-img {
    object-position: bottom;

    max-height: 280px;
}

.article-title {
    font-family: Lora, sans-serif;
    font-size: 1.35rem;
    font-weight: 500;

    color: #143774;

    margin-bottom: .75em;
}

.article-stats {
    font-size: .75rem;

    margin-bottom: 1em;
}

.article-stats, .article-text {
    font-family: Ubunto, sans-serif;
    font-weight: 400;

    color: #858585;
}

.article-text {
    font-size: .955rem;

    line-height: 20px;

    margin-bottom: 1.5em;
}

.article-paragraph-title {
    color: #1792D2;

    font-family: Lora, sans-serif;
    font-size: 1.15rem;
    font-weight: 500;

    margin-bottom: .5em;
}

.bold {
    font-weight: 700;

    color: #6e6e6e;
}

.text-link {
    text-decoration: underline;

    color: #1792D2;
}

.text-link:hover {
    color: #143774;

    cursor: pointer;
}

.read-more {
    font-family: Ubunto, sans-serif;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 2px;

    color: #1792D2;
}


@media (min-width: 650px) {
    .container {
        display: flex;
        justify-content: space-between;
    }

    .left-section {
        width: 65%;
    }

    .right-section {
        width: 30%;
    }
}

@media (min-width: 950px) {
    .article {
        display: flex;
        justify-content: space-between;
    }

    .article-img {
        height: 200px;
    }

    .article-stats {
        margin-bottom: .5em;
    }

    .article-title {
        margin-bottom: 1em;
    }

    .article-head {
        width: 25%;
    }

    .article-body {
        display: flex;
        flex-direction: column;
        width: 72%;
    }
}


/* About me Page */

.about-me-article {
    margin-bottom: 4em;
}

.about-me-article-img {
    margin-bottom: 1.5em;
}
